
  .box {
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    .pages-hoc {
      img {
        width: 300px;
      }
      .d {
        border: 1px solid rgb(243, 239, 239);
        box-sizing: border-box;
        // box-shadow: 1px 1px 2px 1px rgba(68, 67, 67, 0.5);
        border-radius: 5px;
        margin-bottom: 20px;
      }
    }
  }
